<%- include("./partials/header") %>
<requests-view inline-template>
    <div class="main-panel">
        <!-- Navbar -->
        <%- include("./partials/navbar") %>
        <!-- End Navbar -->
        <div class="content">
            <flash-message></flash-message>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">
                                    Video Requests
                                </h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                        <tr>
                                            <th>
                                                Video
                                            </th>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                description
                                            </th>
                                            <th>
                                                url
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                actions
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="request in requests"
                                            :key="request.video_id">
                                            <td>

                                                <div class="video-thumbnail"
                                                     @click="playVideo(request)"
                                                >
                                                    <img :src="'/thumbnails/'+request.thumbnail"
                                                         alt="">
                                                    <span class="play-button"></span>
                                                </div>

                                            </td>
                                            <td v-text="request.title"></td>
                                            <td v-text="request.description"></td>
                                            <td class="text-center">{{request.player ==1 ?request.url:'-'}}</td>
                                            <td>{{request.created_at | ago}}</td>
                                            <td class="td-actions">
                                                <button type="button" rel="tooltip" title="Edit Task"
                                                        @click="edit(request)"
                                                        class="btn btn-primary btn-link btn-sm">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Edit Task"
                                                        @click="approve(request)"
                                                        class="btn btn-success btn-link btn-sm">
                                                    <i class="material-icons">check</i>
                                                </button>
                                                <button type="button"
                                                        rel="tooltip"
                                                        title="Remove"
                                                        @click="confirm(request)"
                                                        class="btn btn-danger btn-link btn-sm"><i
                                                            class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include("./modals/videoPlay") %>
        <%- include("./modals/requests/all") %>
    </div>
</requests-view>
<%- include("./partials/footer") %>
