<%- include("./partials/header") %>
<videos-view inline-template>
    <div class="main-panel">
        <!-- Navbar -->
        <%- include("./partials/navbar") %>
        <!-- End Navbar -->
        <div class="content">
            <flash-message></flash-message>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">
                                    Videos
                                </h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                        <tr>
                                            <th>
                                                Video
                                            </th>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                description
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th>Featured</th>
                                            <th>
                                                <button class="btn btn-primary"
                                                        @click="$modal.show('addVideo')"
                                                >Upload Video
                                                </button>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <template v-for="(videos,key) in videosCollection" v-if="videosCollection">
                                            <tr>
                                                <td class="text-center"
                                                    colspan="100%">
                                                    {{new Date(key).toDateString()|calendar}} videos
                                                </td>
                                            </tr>
                                            <tr v-for="video in videos">
                                                <td>
                                                    <div class="video-thumbnail"
                                                         @click="playVideo(video)"
                                                    >
                                                        <template v-if="video.player == 0">
                                                        <img :src="'/thumbnails/'+video.thumbnail"
                                                             :alt="video.descript">
                                                        </template>
                                                        <template>
                                                            <img  :src="'https://img.youtube.com/vi/'+getVideoId('<%= video.url %>')+'/2.jpg'"
                                                                  :alt="video.description">
                                                        </template>
                                                        <span class="play-button"></span>
                                                    </div>

                                                </td>
                                                <td v-text="video.title"></td>
                                                <td v-text="video.description"></td>
                                                <td>{{video.created_at | ago}}</td>
                                                <td class="text-left">
                                                    <div class="togglebutton">
                                                        <label>
                                                            <input type="checkbox"
                                                                   v-model="video.isFeatured"
                                                                   @change="toggleFeatured(video)">
                                                            <span class="toggle"></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td class="td-actions">
                                                    <button type="button" rel="tooltip" title="Edit Task"
                                                            @click="edit(video)"
                                                            class="btn btn-primary btn-link btn-sm">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button"
                                                            rel="tooltip"
                                                            title="Remove"
                                                            @click="confirm(video)"
                                                            class="btn btn-danger btn-link btn-sm"><i
                                                                class="material-icons">close</i>
                                                    </button>
                                                </td>

                                            </tr>
                                        </template>
                                        <tr v-else>
                                            <td class="text-center"
                                                colspan="100%">
                                                There is no videos for now
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include("./modals/videoPlay") %>
        <%- include("./modals/videos/all") %>
    </div>
</videos-view>
<%- include("./partials/footer") %>
