<%- include('../partials/header'); %>

<steps-view inline-template>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">

                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0"><%= __('workflow steps') %></h3>
                            </div>
                            <div class="col text-left">
                                <button class="btn btn-sm btn-primary"
                                        @click="$modal.show('addStep')"> <%= __('add') %></button>
                            </div>
                        </div>
                    </div>
                    <steps-table :steps="<%= JSON.stringify(([] || steps)) %>">
                    </steps-table>
                </div>
            </div>
        </div>
    </div>
</steps-view>

<!-- Footer -->


<%- include('../partials/footer'); %>

</div>

<%- include('../partials/pageFoot'); %>

<!-- Main content -->