<%- include('../partials/header'); %>

<archive-view inline-template>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0"><%= __('Archive Manager') %></h3>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                            <tr>
                                <th colspan="100%">/</th>
                            </tr>
                            <tr>
                                <th colspan="14.2%">
                                    <form action="/upload/" method="POST" ref="form" enctype="multipart/form-data">
                                        <div class="text-center">
                                            <label for="files" class="btn btn-sm btn-primary btn-link mb-0">
                                                <span class="mx-1">
                                                    <i class="fa fa-upload"></i>
                                                </span>
                                                <%= __('upload') %>
                                            </label>
                                            <input id="files"
                                                   @change="upload()"
                                                   type="file"
                                                   name="docs">
                                        </div>
                                    </form>
                                </th>
                                <th colspan="14.2%"><a href="#" @click.prevent="$modal.show('newFolder')">
                                    <span class="mx-1">
                                        <i class="fa fa-folder-plus"></i>
                                    </span>
                                        <%= __('new folder') %>
                                    </a>
                                </th>
                                <th colspan="14.2%"><a href="#" @click.prevent="">
                                    <span class="mx-1">
                                        <i class="fa fa-file-movie-o"></i>
                                    </span>
                                        <%= __('move') %>
                                    </a>
                                </th>
                                <th colspan="14.2%"><a href="#" @click.prevent="">
                                    <span class="mx-1">
                                        <i class="fa fa-trash-alt"></i>
                                    </span>
                                        <%= __('remove') %>
                                    </a>
                                </th>
                                <th colspan="14.2%"><a href="#" @click.prevent="">
                                    <span class="mx-1">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </span>
                                        <%= __('rename') %>
                                    </a>
                                </th>
                                <th colspan="14.2%"><a href="#" @click.prevent="">
                                    <span class="mx-1">
                                        <i class="fa fa-info"></i>
                                    </span>
                                        <%= __('details') %>
                                    </a>
                                </th>
                                <th colspan="14.2%"></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr v-for="(folder,index) in folders"
                                :key="index">
                                <td colspan="80%" class="text-dark">
                                    <a href="#" @click.prevent="open(folder)">
                                    <span class="p-1 mx-1 text-yellow">
                                        <i class="fa fa-folder"></i>
                                    </span>
                                        {{folder.name}}
                                    </a>
                                </td>
                                <td colspan="20%">
                                    <div class="custom-control d-flex align-items-center justify-content-center custom-checkbox">
                                        <input class="custom-control-input" :id="folder.name + index" type="checkbox">
                                        <label class="custom-control-label" :for="folder.name + index">

                                        </label>
                                    </div>
                                </td>
                            </tr>


                            <tr v-for="(file,index) in files"
                                :key="index">
                                <td colspan="80%" class="text-muted">
                                    <a href="#" @click.prevent="">
                                    <span class="p-1 mx-1 text-blue">
                                        <i class="fa fa-file-alt"></i>
                                    </span>
                                        {{file.name}}
                                    </a>
                                </td>
                                <td colspan="20%">
                                    <div class="custom-control d-flex align-items-center justify-content-center custom-checkbox">
                                        <input class="custom-control-input" :id="file.name + index" type="checkbox">
                                        <label class="custom-control-label" :for="file.name + index">

                                        </label>
                                    </div>
                                </td>
                            </tr>


                            <tr v-if="folder.length && files.length">
                                <td colspan="100%"
                                    class="text-center text-muted">
                                    <%= __('there is no content in current directory') %>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./FilemanagerModals/All'); %>
    </div>
</archive-view>

<!-- Footer -->

<%- include('../partials/footer'); %>
</div>

<%- include('../partials/pageFoot'); %>


<!-- Main content -->