<html lang="en" class="">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body class="css3anim" style="">
<!-- newhplightbox -->
<div id="slot1">

</div>
<!-- newhplightbox-oop -->
<div id="slot2">
</div>

<div id="wrapper">
    <%- include('partials/header-section') %>
    <div id="app" class="min-container">
        <home-view inline-template :page-number="<%= pageNumber %>">
            <div class="">
                <main id="main" role="main">
                    <div class="ad">

                    </div>
                    <%if(trending.length){%>
                    <section class="carousel-section">
                        <header class="heading with--background">
                            <h1>TRENDING
                                <mark>NOW</mark>
                            </h1>
                        </header>
                        <div class="loading-content">

                            <carousel>
                                <% trending.forEach(trend =>{ %>
                                <div class="video-slide">
                                    <a href="/videos/<%= trend.video_id %>">
                                            <span class="video-box">
                                                <%if(trend.player == 0){%>
                                                    <img src="/thumbnails/<%= trend.thumbnail %>"
                                                         width="300"
                                                         height="200"
                                                         alt=""
                                                         style="width: 180px; height: 108px; margin-top: -3.5px; margin-left: 0px;">
                                                <%} else{%>
                                                <img  :src="'https://img.youtube.com/vi/'+getVideoId('<%= trend.url %>')+'/2.jpg'"
                                                      alt="<%=trend.description%>">
                                                <%}%>
                                                    <span class="btn-play">play</span>
                                            </span>
                                        <strong class="title"><%= trend.title %></strong>
                                    </a>
                                </div>
                                <% }) %>
                            </carousel>
                        </div>
                    </section>
                    <%}%>
                    <%if(featured.length){%>
                    <section>
                        <header class="heading with--background">
                            <h1>FEATURED
                                <mark>VIDEOS</mark>
                            </h1>
                        </header>
                        <div class="featured-videos only-desktop">
                            <%if(featured[0]){%>
                            <section class="video large">
                                <a class="front-featured"
                                   href="/videos/<%= featured[0].video.video_id %>">
                                    <img src="/thumbnails/<%= featured[0].video.thumbnail %>"
                                         alt="">
                                    <span class="btn-play">play</span>
                                    <span class="btn-play-hover">play</span>

                                    <div class="caption">
                                        <h1><%= featured[0].video.title %></h1>
                                        <h2><%= featured[0].video.description %></h2>
                                    </div>
                                </a>
                            </section>
                            <%}%>
                            <%if(featured[1]){%>
                            <section class="video large exclusive">
                                <a class="front-featured"
                                   href="/videos/<%= featured[1].video.video_id %>">
                                    <img src="/thumbnails/<%= featured[1].video.thumbnail %>"
                                         alt="">
                                    <div class="caption">
                                        <h1><%= featured[1].video.title %></h1>
                                        <h2><%= featured[1].video.description %></h2>
                                    </div>
                                    <span class="btn-play">play</span>
                                    <span class="btn-play-hover">play</span>

                                </a>
                            </section>
                            <%}%>
                            <div class="d-flex">
                                <% if(featured[2]){ %>
                                <section class="video mr-1-px exclusive">
                                    <a class="front-featured"
                                       href="/videos/<%= featured[2].video.video_id %>">
                                        <img src="/thumbnails/<%= featured[2].video.thumbnail %>"
                                             alt="">
                                        <div class="caption">
                                            <h1><%= featured[2].video.title %></h1>
                                            <h2><%= featured[2].video.description %></h2>
                                        </div>
                                        <span class="btn-play">play</span>
                                        <span class="btn-play-hover">play</span>

                                    </a>
                                </section>
                                <% } %>
                                <% if(featured[3]){ %>
                                <section class="video  secondary exclusive">
                                    <a class="front-featured"
                                       href="/videos/<%= featured[3].video.video_id %>">
                                        <img src="/thumbnails/<%= featured[3].video.thumbnail %>"
                                             alt="">

                                        <div class="caption">
                                            <h1><%= featured[3].video.title %></h1>
                                            <h2><%= featured[3].video.description %></h2>
                                        </div>
                                        <span class="btn-play">play</span>
                                        <span class="btn-play-hover">play</span>

                                    </a>
                                </section>
                                <% } %>
                            </div>
                        </div>
                        <div class="videos only-mobile">
                            <% if(featured[0]){ %>
                            <section class="box" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a itemprop="url" href="/videos/<%= featured[0].video.video_id %>"
                                   class="video-box">
                                    <img src="/thumbnails/<%= featured[0].video.thumbnail %>"
                                         alt="">
                                    <span class="btn-play">play</span>
                                    <span class="btn-play-hover">play</span>

                                </a>
                                <strong class="title text-left"
                                        itemprop="name">
                                    <a href="/videos/<%= featured[0].video.video_id %>"><%= featured[0].video.title %></a>
                                    <div>
                                        <span class="views"><%= featured[0].video.views %></span>
                                    </div>
                                </strong>
                            </section>
                            <% } %>
                            <% if(featured[1]){ %>
                            <section class="box" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a itemprop="url" href="/videos/<%= featured[1].video.video_id %>"
                                   class="video-box">
                                    <img src="/thumbnails/<%= featured[1].video.thumbnail %>"
                                         alt="">
                                    <span class="btn-play">play</span>
                                    <span class="btn-play-hover">play</span>

                                </a>
                                <strong class="title text-left"
                                        itemprop="name">
                                    <a href="/videos/<%= featured[1].video.video_id %>"><%= featured[1].video.title %></a>
                                    <div>
                                        <span class="views"><%= featured[1].video.views %></span>
                                    </div>
                                </strong>
                            </section>
                            <% } %>
                            <% if(featured[2]){ %>
                            <section class="box" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a itemprop="url" href="/videos/<%= featured[2].video.video_id %>"
                                   class="video-box">
                                    <img src="/thumbnails/<%= featured[2].video.thumbnail %>"
                                         alt="">
                                    <span class="btn-play">play</span>
                                    <span class="btn-play-hover">play</span>

                                </a>
                                <strong class="title text-left"
                                        itemprop="name">
                                    <a href="/videos/<%= featured[2].video.video_id %>"><%= featured[2].video.title %></a>
                                    <div>
                                        <span class="views"><%= featured[2].video.views %></span>
                                    </div>
                                </strong>
                            </section>
                            <% } %>

                            <% if(featured[3]){ %>
                            <section class="box" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a itemprop="url" href="/videos/<%= featured[3].video.video_id %>"
                                   class="video-box">
                                    <img src="/thumbnails/<%= featured[3].video.thumbnail %>"
                                         alt="">
                                    <span class="btn-play">play</span>
                                    <span class="btn-play-hover">play</span>

                                </a>
                                <strong class="title text-left"
                                        itemprop="name">
                                    <a href="/videos/<%= featured[3].video.video_id %>"><%= featured[3].video.title %></a>
                                    <div>
                                        <span class="views"><%= featured[3].video.views %></span>
                                    </div>
                                </strong>
                            </section>
                            <% } %>

                        </div>
                    </section>
                    <%}%>
                    <% for (let key in videos) { %>
                    <div class="ad">

                    </div>
                    <section>
                        <header class="heading with--background">
                            <h1>
                                <time>{{'<%= new Date(key).toDateString() %>'|calendar}}
                                    <mark>VIDEOS</mark>
                                </time>
                            </h1>
                            <span class="num"><%= videos[key].length %> videos</span>

                        </header>
                        <!-- display videos -->
                        <div class="videos">
                            <% videos[key].forEach( video => { %>
                            <section class="box" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a itemprop="url" href="/videos/<%= video.video_id %>" class="video-box">
                                    <img class="lazy"
                                            <% if(video.player == 0 ){ %>
                                         src="/thumbnails/<%= video.thumbnail %>"
                                            <% } else{ %>
                                         :src="'https://img.youtube.com/vi/'+getVideoId('<%= video.url %>')+'/2.jpg'"

                                            <% } %>
                                         width="222" height="125"
                                         alt="<%= video.description %>"
                                         itemprop="thumbnailUrl">
                                    <span class="btn-play">play</span>
                                    <span class="btn-play-hover">play</span>


                                </a>
                                <strong class="title" itemprop="name">
                                    <a href="/videos/<%= video.video_id %>"><%= video.title %></a>
                                    <div>
                                        <span class="views"><%= video.views %></span>
                                        <!--<span class="comments">-->
                                        <!--<a href="http://www.worldstarhiphop.com/videos/video.php?v=wshhYYJQ02rH789dy71g#disqus_thread"-->
                                        <!--data-disqus-identifier="134737">53</a>-->
                                        <!--</span>-->
                                    </div>
                                </strong>


                            </section>
                            <% }) %>
                        </div>
                        <!-- display videos -->
                    </section>
                    <% } %>

                    <section v-if="<%= pages %>">
                        <section>
                            <paginate
                                    ref="pagination"
                                    :page-count="<%= pages %>"
                                    :click-handler="changePage"
                                    :prev-text="'Previous'"
                                    :next-text="'Next'"
                                    :container-class="'paging'">
                            </paginate>
                        </section>
                    </section>
                </main>
                <%- include('./partials/footer') %>
            </div>
        </home-view>
    </div>
</div>


</body>
<script src="/js/app.js"></script>
</html>
