<html lang="en" class="">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body class="css3anim" style="">
<!-- newhplightbox -->
<div id="slot1">

</div>
<!-- newhplightbox-oop -->
<div id="slot2">
</div>

<div id="wrapper">
    <%- include('partials/header-section') %>
    <div id="app" class="min-container">
        <home-view inline-template>
            <div class="">
                <main id="main" role="main">
                    <div class="ad">

                    </div>
                    <section class="carousel-section">
                        <header class="heading with--background">
                            <h1>TRENDING
                                <mark>NOW</mark>
                            </h1>
                            <form action="#" class="filter">
                                <div class="form-group">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option rel="trending-newer.php?v=now" class="active-option">Now</option>
                                        <option rel="trending-newer.php?v=week">This Week</option>
                                        <option rel="trending-newer.php?v=month">This Month</option>
                                        <option rel="trending-newer.php?v=year">This Year</option>
                                    </select>
                                </div>
                            </form>
                        </header>
                        <div class="loading-content">
                            <carousel>
                                <% trending.forEach(trend =>{ %>
                                <div class="video-slide">
                                    <a href="/videos/<%= trend.video_id %>">
                                            <span class="video-box">
                                                    <img src="/thumbnails/<%= trend.thumbnail %>"
                                                         width="300"
                                                         height="200"
                                                         alt=""
                                                         style="width: 180px; height: 108px; margin-top: -3.5px; margin-left: 0px;">
                                                    <span class="btn-play">play</span>
                                            </span>
                                        <strong class="title"><%= trend.title %></strong>
                                    </a>
                                </div>
                                <% }) %>
                            </carousel>
                        </div>
                    </section>
                    <section>
                        <header class="heading with--background">
                            <h1>FEATURED
                                <mark>VIDEOS</mark>
                            </h1>
                        </header>
                        <div class="featured-videos only-desktop">
                            <section class="video large">
                                <a class="front-featured" data-fancybox-type="iframe" href="/featured/134685">
                                    <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/tWLfDHnC0BJq.jpg"
                                         alt="">
                                    <span class="btn-play">play</span>
                                    <span class="btn-play-hover">play</span>

                                    <div class="caption">
                                        <h1>Exposing Me Remix</h1>
                                        <h2>FBG Duck &amp; Rooga</h2>
                                    </div>
                                </a>
                            </section>
                            <section class="video large exclusive">
                                <a class="front-featured" data-fancybox-type="iframe" href="/featured/134600">
                                    <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/O4q0tHlKFAwe.jpg"
                                         alt="">
                                    <strong class="tag">WSHH EXCLUSIVE</strong>
                                    <div class="caption">
                                        <h1>Move Right</h1>
                                        <h2>Lil Tjay</h2>
                                    </div>
                                    <span class="btn-play">play</span>
                                    <span class="btn-play-hover">play</span>

                                </a>
                            </section>
                            <div class="d-flex">
                                <section class="video mr-1-px exclusive">
                                    <a class="front-featured" data-fancybox-type="iframe" href="/featured/134630">
                                        <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/gslDklZFkOxU.jpg"
                                             alt="">
                                        <strong class="tag">WSHH EXCLUSIVE</strong>
                                        <div class="caption">
                                            <h1>Everlasting</h1>
                                            <h2>Jay Critch </h2>
                                        </div>
                                        <span class="btn-play">play</span>
                                        <span class="btn-play-hover">play</span>

                                    </a>
                                </section>
                                <section class="video  secondary exclusive">
                                    <a class="front-featured" data-fancybox-type="iframe" href="/featured/134689">
                                        <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/2m3hDMlySdPz.jpg"
                                             alt="">
                                        <strong class="tag">WSHH EXCLUSIVE</strong>
                                        <div class="caption">
                                            <h1>Freezing Cold</h1>
                                            <h2>Nessly Feat. Yung Bans &amp; KILLY</h2>
                                        </div>
                                        <span class="btn-play">play</span>
                                        <span class="btn-play-hover">play</span>

                                    </a>
                                </section>
                            </div>
                        </div>
                        <div class="videos only-mobile">
                            <section class="box" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a itemprop="url" href="/videos/" class="video-box">
                                    <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/tWLfDHnC0BJq.jpg"
                                         alt="">
                                    <span class="btn-play">play</span>
                                    <span class="btn-play-hover">play</span>

                                </a>
                                <strong class="title text-left" itemprop="name">
                                    <a href="/videos/">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Corporis dicta dolores error iure laboriosam </a>
                                    <div>
                                        <span class="views">5 views</span>
                                        <!--<span class="comments">-->
                                        <!--<a href="http://www.worldstarhiphop.com/videos/video.php?v=wshhYYJQ02rH789dy71g#disqus_thread"-->
                                        <!--data-disqus-identifier="134737">53</a>-->
                                        <!--</span>-->
                                    </div>
                                </strong>
                            </section>
                            <section class="box" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a itemprop="url" href="/videos/" class="video-box">
                                    <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/gslDklZFkOxU.jpg"
                                         alt="">
                                    <span class="btn-play">play</span>
                                    <span class="btn-play-hover">play</span>

                                </a>
                                <strong class="title text-left" itemprop="name">
                                    <a href="/videos/">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Aspernatur aut corporis explicabo fugit impedit</a>
                                    <div>
                                        <span class="views">0 views</span>
                                        <!--<span class="comments">-->
                                        <!--<a href="http://www.worldstarhiphop.com/videos/video.php?v=wshhYYJQ02rH789dy71g#disqus_thread"-->
                                        <!--data-disqus-identifier="134737">53</a>-->
                                        <!--</span>-->
                                    </div>
                                </strong>
                            </section>
                            <section class="box" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a itemprop="url" href="/videos/" class="video-box">
                                    <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/tWLfDHnC0BJq.jpg"
                                         alt="">
                                    <span class="btn-play">play</span>
                                    <span class="btn-play-hover">play</span>

                                </a>
                                <strong class="title text-left" itemprop="name">
                                    <a href="/videos/">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Aliquid,
                                        aperiam at dolores eos error facilis incidunt ipsam minima perspiciatis
                                        sunt. </a>
                                    <div>
                                        <span class="views"> 1 view</span>
                                        <!--<span class="comments">-->
                                        <!--<a href="http://www.worldstarhiphop.com/videos/video.php?v=wshhYYJQ02rH789dy71g#disqus_thread"-->
                                        <!--data-disqus-identifier="134737">53</a>-->
                                        <!--</span>-->
                                    </div>
                                </strong>
                            </section>
                            <section class="box" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a itemprop="url" href="/videos/" class="video-box">
                                    <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/tWLfDHnC0BJq.jpg"
                                         alt="">
                                    <span class="btn-play">play</span>
                                    <span class="btn-play-hover">play</span>

                                </a>
                                <strong class="title text-left" itemprop="name">
                                    <a href="/videos/">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                                        aque eius illo itaque, laboriosam</a>
                                    <div>
                                        <span class="views">200,02 views</span>
                                        <!--<span class="comments">-->
                                        <!--<a href="http://www.worldstarhiphop.com/videos/video.php?v=wshhYYJQ02rH789dy71g#disqus_thread"-->
                                        <!--data-disqus-identifier="134737">53</a>-->
                                        <!--</span>-->
                                    </div>
                                </strong>
                            </section>
                        </div>
                    </section>
                    <% for (let key in videos) { %>
                    <div class="ad">

                    </div>
                    <section>
                        <header class="heading with--background">
                            <h1>
                                <time>{{'<%= new Date(key).toDateString() %>'|calendar}}
                                    <mark>VIDEOS</mark>
                                </time>
                            </h1>
                            <span class="num"><%= videos[key].length %> videos</span>

                        </header>
                        <!-- display videos -->
                        <div class="videos">
                            <% videos[key].forEach( video => { %>
                            <section class="box" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a itemprop="url" href="/videos/<%= video.video_id %>" class="video-box">
                                    <img class="lazy"
                                         data-original="/thumbnails/<%= video.thumbnail %>"
                                         width="222" height="125"
                                         alt="<%= video.description %>"
                                         itemprop="thumbnailUrl"
                                         src="/thumbnails/<%= video.thumbnail %>">
                                    <span class="btn-play">play</span>
                                    <span class="btn-play-hover">play</span>


                                </a>
                                <strong class="title" itemprop="name">
                                    <a href="/videos/<%= video.video_id %>"><%= video.title %></a>
                                    <div>
                                        <span class="views"><%= video.views %></span>
                                        <!--<span class="comments">-->
                                        <!--<a href="http://www.worldstarhiphop.com/videos/video.php?v=wshhYYJQ02rH789dy71g#disqus_thread"-->
                                        <!--data-disqus-identifier="134737">53</a>-->
                                        <!--</span>-->
                                    </div>
                                </strong>


                            </section>
                            <% }) %>
                        </div>
                        <!-- display videos -->
                    </section>
                    <% } %>

                    <section>
                        <section>
                            <paginate
                                    :page-count="<%=pages%>"
                                    :click-handler="changePage"
                                    :prev-text="'Previous'"
                                    :next-text="'Next'"
                                    :container-class="'paging'">
                            </paginate>
                        </section>
                    </section>
                </main>
                <%- include('./partials/footer') %>
            </div>
        </home-view>
    </div>
</div>


</body>
<script src="/js/app.js"></script>
</html>
