<html lang="en" class="">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body class="css3anim" style="">
<!-- newhplightbox -->
<div id="slot1" style="width: 1px; height: 1px; display: none;" data-google-query-id="CK2H7NiijuECFYzk1QodLpoJIA">
    <script type="text/javascript"> googletag.cmd.push(function () {
            googletag.display('slot1');
            googletag.pubads().refresh(['slot1']);
        }); </script>
    <div id="google_ads_iframe_/5529491/newhplightbox_0__container__"
         style="border: 0pt none; width: 1px; height: 1px;"></div>
</div>
<!-- newhplightbox-oop -->
<div id="slot2" data-google-query-id="CK6H7NiijuECFYzk1QodLpoJIA" style="display: none;">
    <script type="text/javascript"> googletag.cmd.push(function () {
            googletag.display('slot2');
            googletag.pubads().refresh(['slot2']);
        }); </script>
    <div id="google_ads_iframe_/5529491/newhplightbox_1__container__"
         style="border: 0pt none; width: 1px; height: 1px;"></div>
</div>

<div id="wrapper">
    <%- include('partials/header-section') %>
    <div id="app" class="min-container">
        <home-view inline-template>
            <div class="">
                <main id="main" role="main">
                    <div class="promo-image">
                        <div id="slot10" data-google-query-id="CLWH7NiijuECFYzk1QodLpoJIA" style="display: none;">
                            <div id="google_ads_iframe_/5529491/newhome_top_990x250_0__container__"
                                 style="border: 0pt none; width: 990px; height: 250px;"></div>
                        </div>
                    </div>
                    <section class="carousel-section">
                        <header class="heading">
                            <form action="#" class="filter">
                                <div class="form-group">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option rel="trending-newer.php?v=now" class="active-option">Now</option>
                                        <option rel="trending-newer.php?v=week">This Week</option>
                                        <option rel="trending-newer.php?v=month">This Month</option>
                                        <option rel="trending-newer.php?v=year">This Year</option>
                                    </select>
                                </div>
                            </form>
                            <h1>TRENDING
                                <mark>NOW</mark>
                            </h1>
                        </header>
                        <div class="loading-content">
                            <carousel>
                                <div class="video-slide">
                                    <a href="video.php?v=wshhX6DWlnylYS6B2ndN">
                                                                                        <span class="video-box">
                                                                                                <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/pDUHpNv42KNT.jpg"
                                                                                                     width="300"
                                                                                                     height="200"
                                                                                                     alt="What Kind Of Evil Spirit Healing Is This? Woman Loses It In Church After Trying To Get Healed From An Oral S** Demon!"
                                                                                                     style="width: 180px; height: 108px; margin-top: -3.5px; margin-left: 0px;">
                                                                                                <span class="btn-play">play</span>
                                                                                        </span>
                                        <strong class="title">What Kind Of Evil Spirit Healing
                                            Is This? Woman Loses It In
                                            Church After Trying To Get
                                            Healed From An Oral S** Demon!</strong>
                                    </a>
                                </div>
                                <div class="video-slide">
                                    <a href="video.php?v=wshh82otQP75pDnEBTeC">
                                            <span class="video-box">
                                                    <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/W2hp9gfDqbMU.jpg"
                                                         width="300"
                                                         height="200"
                                                         alt="Carolina Panthers Lineman Gets KO’d During Street Fight!"
                                                         style="width: 181.573px; height: 101px; margin-top: 0px; margin-left: -0.786517px;">
                                                    <span class="btn-play">play</span>
                                            </span>
                                        <strong class="title">Carolina Panthers Lineman Gets KO’d
                                            During Street Fight!</strong>
                                    </a>
                                </div>
                                <div class="video-slide">
                                    <a href="video.php?v=wshhRlcIuT7OSpH3X7Dp">
                                                    <span class="video-box">
                                                            <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/5FvWbCwSRShI.jpg"
                                                                 width="300"
                                                                 height="200"
                                                                 alt="Too Cute: Dad Teaches His Daughter About Dipping Her Fry In Ketchup &amp; It Instantly Changes Her Life!"
                                                                 style="width: 180px; height: 101.335px; margin-top: -0.167678px; margin-left: 0px;">
                                                            <span class="btn-play">play</span>
                                                    </span>
                                        <strong class="title">Too Cute: Dad Teaches His Daughter
                                            About Dipping Her Fry In
                                            Ketchup &amp; It Instantly
                                            Changes Her Life!</strong>
                                    </a>
                                </div>
                                <div class="video-slide">
                                    <a href="video.php?v=wshh3zhCkRRWbys1z041">
                                                                                        <span class="video-box">
                                                                                                <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/J9W9AC45G7JD.jpg"
                                                                                                     width="300"
                                                                                                     height="200"
                                                                                                     alt="This Dog's Terrible Agility Course Run Is Hilarious!"
                                                                                                     style="width: 180.765px; height: 101px; margin-top: 0px; margin-left: -0.382749px;">
                                                                                                <span class="btn-play">play</span>
                                                                                        </span>
                                        <strong class="title">This Dog's Terrible Agility Course
                                            Run Is Hilarious!</strong>
                                    </a>
                                </div>
                                <div class="video-slide">
                                    <a href="video.php?v=wshhRvczM632B0471v09">
                                                                                        <span class="video-box">
                                                                                                <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/ne7rISybrUVZ.jpg"
                                                                                                     width="300"
                                                                                                     height="200"
                                                                                                     alt="Miala - Eden [Diamond Studded Records/Canis Majoris Entertainment Submitted]"
                                                                                                     style="width: 180.056px; height: 101px; margin-top: 0px; margin-left: -0.0278552px;">
                                                                                                <span class="btn-play">play</span>
                                                                                        </span>
                                        <strong class="title">Miala - Eden [Diamond Studded Records/Canis
                                            Majoris Entertainment Submitted]</strong>
                                    </a>
                                </div>
                                <div class="video-slide">
                                    <a href="video.php?v=wshhg9b3Slr8Gy99AxLf">
                                                                                        <span class="video-box">
                                                                                                <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/OsoanlKU4uLb.jpg"
                                                                                                     width="300"
                                                                                                     height="200"
                                                                                                     alt="Thoughts? Woman Exposes How Law Enforcement Focuses On A Black Person During Protests!"
                                                                                                     style="width: 180px; height: 110.017px; margin-top: -4.50849px; margin-left: 0px;">
                                                                                                <span class="btn-play">play</span>
                                                                                        </span>
                                        <strong class="title">Thoughts? Woman Exposes How Law Enforcement
                                            Focuses On A Black Person
                                            During Protests!</strong>
                                    </a>
                                </div>
                                <div class="video-slide">
                                    <a href="video.php?v=wshh33w1094o0324Li1p">
                                                                                        <span class="video-box">
                                                                                                <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/ECsjj60COdS0.jpg"
                                                                                                     width="300"
                                                                                                     height="200"
                                                                                                     alt="Kodak Black Responds To Young M.A &quot; How You A Girl But Don't Want Your P*ssy Penetrated&quot;"
                                                                                                     style="width: 180px; height: 103.846px; margin-top: -1.42308px; margin-left: 0px;">
                                                                                                <span class="btn-play">play</span>
                                                                                        </span>
                                        <strong class="title">Kodak Black Responds To Young M.A
                                            " How You A Girl But Don't
                                            Want Your P*ssy Penetrated"</strong>
                                    </a>
                                </div>
                                <div class="video-slide">
                                    <a href="video.php?v=wshhcxy697Da5XpbE210">
                                                                                        <span class="video-box">
                                                                                                <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/ATDU1HaVfL0P.jpg"
                                                                                                     width="300"
                                                                                                     height="200"
                                                                                                     alt="Wow: White Woman Calls Black Couple The N-Word In Front Of Her Children!"
                                                                                                     style="width: 180px; height: 103.349px; margin-top: -1.17464px; margin-left: 0px;">
                                                                                                <span class="btn-play">play</span>
                                                                                        </span>
                                        <strong class="title">Wow: White Woman Calls Black Couple
                                            The N-Word In Front Of Her
                                            Children!</strong>
                                    </a>
                                </div>
                                <div class="video-slide">
                                    <a href="video.php?v=wshhK7obX0U2LJvH64vx">
                                                                                        <span class="video-box">
                                                                                                <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/ZAe8e1HJPABt.jpg"
                                                                                                     width="300"
                                                                                                     height="200"
                                                                                                     alt="Going At It: SXSW Cat Fight Breaks Out On 6th Street In Austin, Texas! "
                                                                                                     style="width: 186.282px; height: 101px; margin-top: 0px; margin-left: -3.14121px;">
                                                                                                <span class="btn-play">play</span>
                                                                                        </span>
                                        <strong class="title">Going At It: SXSW Cat Fight Breaks
                                            Out On 6th Street In Austin,
                                            Texas! </strong>
                                    </a>
                                </div>
                                <div class="video-slide">
                                    <a href="video.php?v=wshhUkzuRyg2WrABiG24">
                                                                                        <span class="video-box">
                                                                                                <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/N1NF6UPYbBDz.jpg"
                                                                                                     width="300"
                                                                                                     height="200"
                                                                                                     alt="When Infighting Distracts You From The Bigger Picture!"
                                                                                                     style="width: 180px; height: 105.537px; margin-top: -2.26873px; margin-left: 0px;">
                                                                                                <span class="btn-play">play</span>
                                                                                        </span>
                                        <strong class="title">When Infighting Distracts You From
                                            The Bigger Picture!</strong>
                                    </a>
                                </div>
                            </carousel>
                        </div>
                    </section>
                    <section>
                        <header class="heading">
                            <h1>FEATURED
                                <mark>VIDEOS</mark>
                            </h1>
                        </header>
                        <div class="featured-videos">
                            <section class="video large">
                                <a class="front-featured" data-fancybox-type="iframe" href="/featured/134685">
                                    <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/tWLfDHnC0BJq.jpg"
                                         alt="">
                                    <span class="btn-play">play</span>
                                    <span class="btn-play-hover">play</span>

                                    <div class="caption">
                                        <h1>Exposing Me Remix</h1>
                                        <h2>FBG Duck &amp; Rooga</h2>
                                    </div>
                                </a>
                            </section>
                            <section class="video large exclusive">
                                <a class="front-featured" data-fancybox-type="iframe" href="/featured/134600">
                                    <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/O4q0tHlKFAwe.jpg"
                                         alt="">
                                    <strong class="tag">WSHH EXCLUSIVE</strong>
                                    <div class="caption">
                                        <h1>Move Right</h1>
                                        <h2>Lil Tjay</h2>
                                    </div>
                                    <span class="btn-play">play</span>
                                    <span class="btn-play-hover">play</span>

                                </a>
                            </section>
                            <div class="d-flex">
                                <section class="video exclusive">
                                    <a class="front-featured" data-fancybox-type="iframe" href="/featured/134630">
                                        <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/gslDklZFkOxU.jpg"
                                             alt="">
                                        <strong class="tag">WSHH EXCLUSIVE</strong>
                                        <div class="caption">
                                            <h1>Everlasting</h1>
                                            <h2>Jay Critch </h2>
                                        </div>
                                        <span class="btn-play">play</span>
                                        <span class="btn-play-hover">play</span>

                                    </a>
                                </section>
                                <section class="video secondary exclusive">
                                    <a class="front-featured" data-fancybox-type="iframe" href="/featured/134689">
                                        <img src="https://hw-static.worldstarhiphop.com/u/pic/2019/03/2m3hDMlySdPz.jpg"
                                             alt="">
                                        <strong class="tag">WSHH EXCLUSIVE</strong>
                                        <div class="caption">
                                            <h1>Freezing Cold</h1>
                                            <h2>Nessly Feat. Yung Bans &amp; KILLY</h2>
                                        </div>
                                        <span class="btn-play">play</span>
                                        <span class="btn-play-hover">play</span>

                                    </a>
                                </section>
                            </div>
                        </div>
                    </section>
                    <div class="ad">
                        <div id="slot3" data-google-query-id="CK-H7NiijuECFYzk1QodLpoJIA">

                            <div id="google_ads_iframe_/5529491/newhome_mid_728x90_0__container__"
                                 style="border: 0pt none;">
                                <iframe id="google_ads_iframe_/5529491/newhome_mid_728x90_0"
                                        title="3rd party ad content"
                                        name="google_ads_iframe_/5529491/newhome_mid_728x90_0" width="728"
                                        height="90" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"
                                        srcdoc="" data-google-container-id="3"
                                        style="border: 0px; vertical-align: bottom;"
                                        data-load-complete="true"></iframe>
                            </div>
                        </div>
                    </div>

                    <section>
                        <header class="heading">
                            <span class="num">16 VIDEOS</span>
                            <h1>
                                <time datetime="2019-03-19">TODAY'S
                                    <mark>VIDEOS</mark>
                                </time>
                            </h1>
                        </header>
                        <!-- display videos -->
                        <div class="videos">
                            <% videos.forEach((video)=> { %>
                            <section class="box" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a itemprop="url" href="/videos/<%=video.url%>" class="video-box">
                                    <img class="lazy"
                                         data-original="https://hw-static.worldstarhiphop.com/u/pic/2019/03/cLi5V44s0mRc.jpg"
                                         width="222" height="125"
                                         alt="You Not My Daddy: Baby Boy Gets Upset When He Finds Out His Dad Cut His Dreads!"
                                         itemprop="thumbnailUrl"
                                         src="/thumbnails/<%=video.thumbnail%>">

                                </a>
                                <strong class="title" itemprop="name">
                                    <a href="/videos/<%=video.url%>"> <%= video.title%> </a>
                                </strong>
                                <div>
                                    <span class="views"> <%=video.views%> </span>
                                    <span class="comments">
                                                                        <a href="http://www.worldstarhiphop.com/videos/video.php?v=wshhYYJQ02rH789dy71g#disqus_thread"
                                                                           data-disqus-identifier="134737">53</a>
                                                                </span>
                                </div>
                            </section>
                            <% }) %>
                        <!-- display videos -->
                    </section>
                    <div class="ad">
                        <div id="slot4" data-google-query-id="CLCH7NiijuECFYzk1QodLpoJIA" style="display: none;">
                            <div id="google_ads_iframe_/5529491/newhome_row_1_728x90_0__container__"
                                 style="border: 0pt none; width: 728px; height: 90px;"></div>
                        </div>
                    </div>

                    <section>
                        <header class="heading">
                            <span class="num">30 VIDEOS</span>
                            <h1>
                                <time datetime="2019-03-18">March
                                    <mark>18</mark>
                                    <sup>2019</sup>
                                </time>
                            </h1>
                        </header>

                        <section class="videos">
                            <section class="box" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a itemprop="url" href="/videos/video.php?v=wshhV207aoW9lSGnW02v" class="video-box">
                                    <img class="lazy"
                                         data-original="https://hw-static.worldstarhiphop.com/u/pic/2019/03/agtE5IH4F5pl.jpg"
                                         width="222" height="125"
                                         alt="Whoa: Dead Whale Washed Up In The Philippines Had 40kg Of Plastic In Its Stomach!"
                                         itemprop="thumbnailUrl"
                                         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
                                </a>
                                <strong class="title" itemprop="name">
                                    <a href="/videos/video.php?v=wshhV207aoW9lSGnW02v">Whoa: Dead Whale Washed Up In The
                                        Philippines Had 40kg Of
                                        Plastic In Its Stomach!</a>
                                </strong>
                                <div>
                                    <span class="views">182,162</span>
                                    <span class="comments">
                                                                        <a href="http://www.worldstarhiphop.com/videos/video.php?v=wshhV207aoW9lSGnW02v#disqus_thread"
                                                                           data-disqus-identifier="134717">3856</a>
                                                                </span>
                                </div>
                            </section>
                        </section>
                        <div class="ad">
                            <div id="slot5" data-google-query-id="CLGH7NiijuECFYzk1QodLpoJIA" style="display: none;">
                                <div id="google_ads_iframe_/5529491/newhome_row_2_728x90_0__container__"
                                     style="border: 0pt none; width: 728px; height: 90px;"></div>
                            </div>
                        </div>

                        <section>
                            <header class="heading">
                                <span class="num">21 VIDEOS</span>
                                <h1>
                                    <time datetime="2019-03-17">March
                                        <mark>17</mark>
                                        <sup>2019</sup>
                                    </time>
                                </h1>
                            </header>
                            <section class="videos">
                                <section class="box" itemscope="" itemtype="http://schema.org/ImageObject">
                                    <a itemprop="url" href="/videos/video.php?v=wshhIb8I26iWRDlV9RMv" class="video-box">
                                        <img class="lazy"
                                             data-original="https://hw-static.worldstarhiphop.com/u/pic/2019/03/H7Y2INsT9mwW.jpg"
                                             width="222" height="125"
                                             alt="FBG Duck &amp; Rooga - Exposing Me Remix" itemprop="thumbnailUrl"
                                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
                                    </a>
                                    <strong class="title" itemprop="name">
                                        <a href="/videos/video.php?v=wshhIb8I26iWRDlV9RMv">FBG Duck &amp; Rooga -
                                            Exposing Me
                                            Remix</a>
                                    </strong>
                                    <div>
                                        <span class="views">2,088,261</span>
                                        <span class="comments">
                                                                                <a href="http://www.worldstarhiphop.com/videos/video.php?v=wshhIb8I26iWRDlV9RMv#disqus_thread"
                                                                                   data-disqus-identifier="134685">229</a>
                                                                        </span>
                                    </div>
                                </section>
                            </section>
                            <div class="ad">
                                <div id="slot7" data-google-query-id="CLKH7NiijuECFYzk1QodLpoJIA"
                                     style="display: none;">
                                    <div id="google_ads_iframe_/5529491/newhome_row_4_728x90_0__container__"
                                         style="border: 0pt none; width: 728px; height: 90px;"></div>
                                </div>
                            </div>

                            <section>
                                <header class="heading">
                                    <span class="num">29 VIDEOS</span>
                                    <h1>
                                        <time datetime="2019-03-16">March
                                            <mark>16</mark>
                                            <sup>2019</sup>
                                        </time>
                                    </h1>
                                </header>
                                <section class="videos">
                                    <section class="box" itemscope="" itemtype="http://schema.org/ImageObject">
                                        <a itemprop="url" href="/videos/video.php?v=wshhg9b3Slr8Gy99AxLf"
                                           class="video-box">
                                            <img class="lazy"
                                                 data-original="https://hw-static.worldstarhiphop.com/u/pic/2019/03/OsoanlKU4uLb.jpg"
                                                 width="222" height="125"
                                                 alt="Thoughts? Woman Exposes How Law Enforcement Focuses On A Black Person During Protests!"
                                                 itemprop="thumbnailUrl"
                                                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
                                        </a>
                                        <strong class="title" itemprop="name">
                                            <a href="/videos/video.php?v=wshhg9b3Slr8Gy99AxLf">Thoughts? Woman Exposes
                                                How Law
                                                Enforcement
                                                Focuses On A Black Person During
                                                Protests!</a>
                                        </strong>
                                        <div>
                                            <span class="views">264,708</span>
                                            <span class="comments">
                                                                                        <a href="http://www.worldstarhiphop.com/videos/video.php?v=wshhg9b3Slr8Gy99AxLf#disqus_thread"
                                                                                           data-disqus-identifier="134667">12950</a>
                                                                                </span>
                                        </div>
                                    </section>
                                </section>
                                <div class="ad">
                                    <div id="slot8" data-google-query-id="CLOH7NiijuECFYzk1QodLpoJIA"
                                         style="display: none;">

                                        <div id="google_ads_iframe_/5529491/newhome_row_5_728x90_0__container__"
                                             style="border: 0pt none; width: 728px; height: 90px;"></div>
                                    </div>
                                </div>

                            </section>
                            <br>
                            <ul class="paging">
                                <li class="prev">
                                    <a href="javascript:void(0)" class="prev disabled" rel="prev">previous</a>
                                </li>
                                <li>
                                    <a href="/videos/" style="font-weight:bold;color:#991a1a;pointer-events:none">1</a>
                                </li>
                                <li>
                                    <a href="/videos/?start=2">2</a>
                                </li>
                                <li>
                                    <a href="/videos/?start=3">3</a>
                                </li>
                                <li>
                                    <a href="/videos/?start=4">4</a>
                                </li>
                                <li>
                                    <a href="/videos/?start=5">5</a>
                                </li>
                                <li>
                                    <a href="/videos/?start=6">6</a>
                                </li>
                                <li>
                                    <a href="/videos/?start=7">7</a>
                                </li>
                                <li>
                                    <a href="/videos/?start=8">8</a>
                                </li>
                                <li>
                                    <a href="/videos/?start=9">9</a>
                                </li>
                                <li>
                                    <a href="/videos/?start=10">10</a>
                                </li>
                                <li>
                                    <a href="/videos/?start=11">11</a>
                                </li>
                                <li>
                                    <a href="/videos/?start=12">12</a>
                                </li>
                                <li>
                                    <a href="/videos/?start=13">13</a>
                                </li>
                                <li>
                                    <a href="/videos/?start=14">14</a>
                                </li>
                                <li>
                                    <a href="/videos/?start=15">15</a>
                                </li>
                                <li>
                                    <a href="/videos/?start=15">16</a>
                                </li>
                                <li>
                                    <span>…</span>
                                </li>
                                <li class="next">
                                    <a href="/videos/?start=2" class="next" rel="next">next</a>
                                </li>
                            </ul>
                        </section>
                    </section>
                </main>
                <div class="min-container">
                    <footer class="footer">
                        <nav class="navbar  navbar-expand-lg">
                            <strong class="logo">
                                <a class="navbar-brand text-white" href="#">AZONTO.TV</a>
                            </strong>
                            <ul class="navbar-nav">

                                <li class="nav-item">
                                    <a class="nav-link" href="#">privacy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">terms</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">CONTACT</a>
                                </li>
                            </ul>
                        </nav>
                    </footer>
                </div>
            </div>
        </home-view>
    </div>
</div>


</body>
<script src="/js/app.js"></script>
</html>
