<%- include('./partials/header'); %>

<div>
    <div class="main-content">

        <!-- Page content -->
        <div class="container-fluid p-7">
            <div class="row">
                <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                    <div class="card card-profile shadow">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="#">

                                        <img src="https://source.unsplash.com/random" class="rounded-circle">

                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-between">
                                <a href="#" class="btn btn-sm btn-info mr-4">الاتصال</a>
                                <a href="#" class="btn btn-sm btn-default float-right">رسالة</a>
                            </div>
                        </div>


                        <div class="card-body pt-0 pt-md-1">
                            <div class="row">
                                <div class="col">
                                    <div class="card-profile-stats d-flex flex-column align-items-center mt-md-5">
                                        <p class="text-muted text-center font-weight-300">
                                          <%=user.about%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-xl-8 order-xl-1">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">

                                <div class="col-8">
                                    <h3 class="mb-0">حسابي</h3>
                                </div>

                                <div class="col-4 text-right">
                                    <button  type="submit" role="button" class="btn btn-sm btn-primary" onClick="javascript:document.forms['profile-form'].submit();" >تحديث</button>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">

                            <form role="form" method="POST" name="profile-form" action="/users_profiles" >

                                <h6 class="heading-small text-muted mb-4">معلومات المستخدم</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">

                                            <div class="form-group">
                                                <label class="form-control-label" for="input-username">اسم المستخدم</label>

                                                <input type="text" id="input-username" class="form-control form-control-alternative"
                                                    placeholder="Username" value="<%=user.user.name%>" readonly>
                                            </div>

                                        </div>
                                        <div class="col-lg-6">

                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">البريد الإلكتروني</label>


                                                <input type="email" id="input-email" readonly class="form-control form-control-alternative"
                                                    placeholder="someone@example.com" value="<%=user.user.email%>">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4" />
                                <!-- Address -->
                                <h6 class="heading-small text-muted mb-4">معلومات الاتصال</h6>
                                <div class="pl-lg-4">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-address">العنوان</label>

                                                <input id="input-address" class="form-control form-control-alternative"
                                                    name="address" placeholder="Home Address" type="text" value="<%=user.address%>">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-city">المدينة</label>

                                                <input type="text" id="input-city" class="form-control form-control-alternative"
                                                    name="city" value="<%=user.city%>">
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-country">الدولة</label>

                                                <input type="text" id="input-country" name="country" class="form-control form-control-alternative" value="<%=user.country%>">
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-phone">رقم الهاتف</label>

                                                <input class="form-control form-control-alternative" placeholder=""
                                                    name="phone" value="<%=user.phone%>">

                                                </input>


                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <hr class="my-4" />
                                <!-- Description -->
                                <h6 class="heading-small text-muted mb-4">عني</h6>

                                <div class="pl-lg-4">
                                    <div class="form-group">
                                        <label>نبذه شخصية</label>
                                        <textarea rows="4" name="about" class="form-control form-control-alternative"
                                            placeholder="A few words about you ..."><%=user.about%></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<%- include('./partials/footer'); %>

</div>

<%- include('./partials/pageFoot'); %>


<!-- Main content -->