<%- include('./partials/header') %>
<div id="app" class="min-container">
    <div class="">
        <main id="main" role="main">
            <div class="ad"></div>

            <header class="heading with--background">
                <h1>
                    <mark>Search results</mark>
                </h1>

            </header>

            <section>
                <!-- display videos -->
                <div class="videos">

                    <% videos.forEach(function (video) { %>
                    <section class="box" itemscope="" itemtype="http://schema.org/ImageObject">
                        <a itemprop="url"
                           href="/videos/<%= video.video_id %>"
                           class="video-box">

                            <% if(video.player == 0){ %>
                            <img src="/thumbnails/<%= video.thumbnail %>"
                                 alt="">
                            <% } else { %>
                            <img :src="'https://img.youtube.com/vi/'+getVideoId('<%= video.url %>')+'/2.jpg'"
                                 alt="">
                            <% } %>

                        </a>
                        <strong class="title" itemprop="name">
                            <a href="/videos/<%= video.video_id %>"><%= video.title %></a>
                            <div>
                                <span class="views"><%= video.views %></span>
                                <!--<span class="comments">-->
                                <!--<a href="http://www.worldstarhiphop.com/videos/video.php?v=wshhYYJQ02rH789dy71g#disqus_thread"-->
                                <!--data-disqus-identifier="134737">53</a>-->
                                <!--</span>-->
                            </div>
                        </strong>


                    </section>
                    <% }) %>

                    <% if(!videos.length){ %>
                        <p class="text-muted text-center">
                            We are sorry but we didn't find what are you looking for .
                        </p>
                    <% } %>

                </div>
                <!-- display videos -->
            </section>

        </main>
    </div>

<%- include('./partials/footer-section') %>