<%- include('./partials/header') %>
<div id="app" class="min-container">
    <show-view inline-template>
        <main id="main" role="main">
            <div class="ad">

            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 col-md-8 border-right">
                        <article class="content">
                            <div class="content-heading text-sm">
                                <h1><%= video.title %></h1>
                            </div>
                            <div class="video-player" itemprop="video" itemscope=""
                                 itemtype="http://schema.org/VideoObject">
                                <% if (video.player == 0) { %>
                                <video poster="<%= video.thumbnail %>"
                                       preload="auto"
                                       controls
                                       src="<%= video.url %>">
                                </video>
                                <% } else { %>
                                <iframe height="370"
                                        width="100%"
                                        :src="'https://youtube.com/embed/'+ getVideoId('<%= video.url %>')"
                                        frameborder="0"
                                        allowfullscreen></iframe>
                                <% } %>
                            </div>
                            <div class="shareaholic-canvas" data-app="share_buttons" data-app-id="28475186"></div>
                            <div class="text-left">
                                <p class="mb-1">Uploaded on <span><%= video.created_at %></span></p>

                                <p class="text-muted"><%= video.description %></p>
                            </div>
                            <div class="comments-holder">
                                <vue-disqus shortname="azonto-tv-1"
                                            title="videos/<%= video.video_id %>"
                                            identifier="videos/<%= video.video_id %>">
                                </vue-disqus>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-4 p-0"
                    >
                        <div class="">
                            <% if(recommended.length){ %>
                            <header class="heading main-heading">
                                <h1>
                                    recommended
                                    <mark>videos</mark>
                                </h1>
                            </header>
                            <section class="videos">
                                <% recommended.forEach(video => { %>
                                <section class="box is-horizontal">
                                    <a itemprop="url" href="/videos/<%= video.video_id %>" class="video-box">
                                        <% if(video.player == 0){ %>
                                        <img src="/thumbnails/<%= video.thumbnail %>"
                                             alt="<%= video.description %>">
                                        <% } else { %>
                                        <img :src="'https://img.youtube.com/vi/'+getVideoId('<%= video.url %>')+'/2.jpg'"
                                             alt="<%= video.description %>">
                                        <% } %>

                                    </a>
                                    <div class="p-1 d-flex flex-column ">
                                        <strong class="title" itemprop="name">
                                            <a href="/videos/<%= video.video_id %>">
                                                <%= video.title %>
                                            </a>
                                        </strong>
                                        <span><%= video.views %> views</span>
                                    </div>
                                </section>
                                <% }) %>
                            </section>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="two-columns">-->


        </main>
    </show-view>
<%- include('./partials/footer-section') %>