<%- include('../partials/header'); %>

<trash-view inline-template>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0"><%= __('Trash') %></h3>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush files--table">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col"><%= __('File name') %></th>
                                <th scope="col"><%= __('File Type') %></th>
                                <th scope="col"><%= __('File size') %></th>
                                <th scope="col"></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr></tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</trash-view>

<!-- Footer -->

<%- include('../partials/footer'); %>

</div>

<%- include('../partials/pageFoot'); %>


<!-- Main content -->